<!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="utf-8">
 		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<title>Swtich Over</title>
    <link rel="stylesheet" href="/stylesheets/master.css" media="screen" title="no title" charset="utf-8">
 	</head>
 	<body>
<header>
  <a href="<%= '/' %>"><h1>SwitchOver</h1></a>
</header>
  <% if logged_in? %>
  <img id="profile-photo" src="<%= current_user.image %>" alt="" />
  <a href="/<%= current_user.firstname + current_user.lastname.downcase%>"><h3><%= current_user.firstname %></h3></a>
  <form class="" action="/session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>LogOut</button>
  </form>
  <% else %>
  <form class="" action="/session" method="get">
  <button>Login</button>
  </form>
  <form action="/signup">
    <button>SingUp</button>
  </form>
  <% end %>
<div class="container">

    <%= yield %>

</div>
 	</body>
 </html>
