<h1><%= @post.heading %></h1>
<img src="<%= @post.image %>" alt="" />
<p>
  <%= @post.body %>
</p>

<% if logged_in? && able_edit?(@post.id, @post.user_email) %>
<a href="/posts/<%= @post.id %>/edit">edit</a>

<form action="/posts/<%= @post.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>
<% end %>

<div id="contact-form" class="clearfix">
    <h2>Contact em!</h2>
    <form method="post" action="/email/<%= @post.id %>">

        <label for="email">From: <span class="required">*</span></label>
        <input type="email" id="email" name="from_email" value="" placeholder="johndoe@example.com" required="required" />


        <label>Title</label>
        <input type="text" name="heading" value=<%= @post.heading %> />


        <label for="message">Message: <span class="required">*</span></label>
        <textarea id="message" name="body" required="required" data-minlength="20"></textarea>

        <button>Submit</button>
        <p id="req-field-desc"><span class="required">*</span> indicates a required field</p>
    </form>
</div>
